
{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="card card-auth my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">ログイン</h5>
        <form method="post" class="form-auth">
            {% csrf_token %}
           <div class="form-label-group">
               <!-- render_field form.login class="form-control" (widget_tweaksのタグ) -->
               <!-- 最初の引数でフォームフィールドのインスタンスを指定し、次の引数で追加したい属性を指定 -->
               {% render_field form.login class="form-control" placeholder="メールアドレス" %}
           </div>
           <div class="form-label-group">
                {% render_field form.password class="form-control" placeholder="パスワード" %}
           </div>
           <div class="button mx-auto">
               <button class="btn btn-lg btn-primary btn-block mx-auto" type="submit">ログイン</button>
           </div>
        </form>
    </div>
</div>

{% endblock %}